body {
    font-family: Fixedsys;
    background-image: url(/ui/matrix.jpg);
    margin-top: 30px;
}
.icon{
    text-align:left;
    height: 200;
    width:200;
}
.title {
    text-align: center;
    color:#9900CC ;
    font-family:Bradley Hand ITC;
    font-size:48px;
    font-weight:bold;
}
.link {
    text-align:left;
    font-family:Berlin Sans FB Demi;
    font-size:26;
}
.content{
    text-align:center;
    font-family:Arial Rounded MT Bold;
    font-size:20px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


