body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    color='#C0C0C0';
    background-color='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWYsXjGSFH5WJ7kj0TEX5DbWQ8VOQjItb_JWRbbWMt8mezZsaY1A';
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

